@media screen and (max-width: 400px) {
    .nav{
        flex-direction: column;   
        align-items: center;
    }
    nav ul{
        flex-direction: column;
    }

    .banner{
        flex-direction: column;  
        margin: 10px;  
    }
    .nav-icon-container{
        width: 100%;
        flex-direction: column;
    }   
    .nav-icon-container a{
        margin-top: 20px;
    }
 .btn-primary{
        width: 100%;
    }

    /* .banner-img img{
       max-width: 100%;
    } */

    .banner-content{
        padding: 20px;
    }

    .card-container{
        grid-template-columns: 1fr;
       
    }
}